<h1>Ask for something !</h1>

<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="question" placeholder="Ask for ...">
  <input type="submit" value="Ask!" >
</form>

<%= link_to "Go back to Home Page", root_path %>
