<h1>Ask for something !</h1>

<main>
  <form action="/answer" data-turbo="false" method="get">
    <input type="text" name="question" placeholder="Ask for ...">
    <input type="submit" value="Ask!" id="button" >
  </form>
</main>

<footer>
  <ul>
    <li><%= link_to "Go back to Home Page", root_path %></li>
  </ul>
</footer>
